.slider {
  @apply mx-auto w-72 lg:w-96;
  text-align: center;
  overflow-x: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
  /*
    scroll-snap-points-x: repeat(400px);
    scroll-snap-type: mandatory;
    */
  

.slides::-webkit-scrollbar {
  display: none;
}

.imgWrapper {
  @apply mx-12 h-72 w-72 lg:h-96 lg:w-96;
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.description {}